[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bandit = "*"
flask = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
ftputil = "*"
gunicorn = "*"
jedi = "*"
progress = "*"
"psycopg2-binary" = "*"
pylint = "*"
pylint-flask = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
