[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
ftputil = "*"
progress = "*"

[dev-packages]
bandit = "*"
jedi = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
