[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "==19.3b0"
isort = "*"
jedi = "*"
pylint = "*"
python-dotenv = "*"
rope = "*"

[packages]
cerberus = "*"
elasticsearch = ">=7.0.0"
elasticsearch-dsl = ">=7.0.0"
flask = "*"
ftputil = "*"
lxml = "*"
packaging = "*"
progress = "*"
psutil = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
shortuuid = "*"

[requires]
python_version = "3.7"

[scripts]
dk = "python -m plateypus.etl.dk"
debug = "cmd /C \"SET APP_SETTINGS=config.TestingConfig&& python -m pytest -x --pdb\""
elastic = "python elastic.py"
flask = "python plateypus/backend.py"
keygen = "python -c \"import secrets; print(secrets.token_urlsafe(16))\""
lint = "python lint.py"
test = "cmd /C \"SET APP_SETTINGS=config.TestingConfig&& python -m pytest --cov-branch --cov-report term-missing:skip-covered --cov=plateypus\""
